@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

/* html,
body,
* {
  scroll-behavior: smooth;
} */

.Nunito {
  font-family: 'Nunito';
}

body{
  font-family: 'Nunito';
  overflow-x: hidden;
}

/* ::-webkit-scrollbar {
  width: 20px;
} */

.navLink {
  position: relative;
}

.navLink::after {
  content: '';
  left: 0;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ab2ea9;
  transition: 0.3s ease-in;
}

.navLink::after:hover {
  content: '';
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ab2ea9;
  transition: 0.3s ease-in;
}